<div id="cecutientPanel" class="hide-on-normal">
	<div class="settingFontSize"><div>Font size</div><div><a id="reduceFontSize" href="#"><span>-</span></a><a id="increaseFontSize" href="#"><span>+</span></a></div></div>
	<div class="settingColor"><div>Color scheme</div><div><a id="colorWhite" href="#"></a><a id="colorBlack" href="#"></a><a id="colorBlue" href="#"></a></div></div>
	<div class="settingImages"><div>Images</div><div><a class="" id="switchOnImages" href="#"><span>On</span></a><a class="current" id="switchOffImages" href="#"><span>Off</span></a></div></div>
</div>